@media (min-width: 600px) {
    body {
        background-image: url(../assets/home/background-home-mobile.jpg);
    }
}

@media (min-width: 1200px) {

    body {
        height: 100%;
        background-image: url(../assets/home/background-home-desktop.jpg);
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100%;
    }
    
    .homepage {
        margin: auto;
        text-align: left;
    }

    .explore {
        margin: auto;
        width: 27.4rem;
        height: 27.4rem;
        
    }

    .intro-text {
        font-size: 2.8rem;
        letter-spacing: 0.4725rem;
        width: 44.5rem;
    }

    h1 {
        font-size: 15rem;
    }

    .intro-text p {
        font-size: 1.8rem;
        line-height: 3.2rem;
        
        
    }

    .homepage p {
        font-size: 1.8rem;
        line-height: 3.2rem;
        
    }
}