body {
    background-image: url(../assets/technology/background-technology-mobile.jpg)
}

main {
    gap: 0;
}

.hero {
    width: 100%;
    height: 100%;
    transform: scaleX(1.1);
    display: block;
}

.launch {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3.2rem;
}

.intro-text {
    font-size: 1.6rem;
    letter-spacing: 0.27rem;
    color: #FFF;
    
}

.crew-image {
    width: 100%;
    height: 300px;
    background-image: url(../assets/technology/image-launch-vehicle-landscape.jpg);
    background-size: 105%;
    background-repeat: no-repeat;
}

.tech-selectors {
    display: flex;
    gap: 1.6rem;
    justify-content: center;
    margin-top: 3.4rem;
}

.tech-selector {
    width: 4rem;
    height: 4rem;
    border: 2px solid #ffffff25; 
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'bellefair', serif;
    font-size: 1.6rem;
    background-color: none;
    transition: background-color 500ms;
}

.tech-selector.active {
    border: none;
    background-color: #FFF;
    color: #0B0D17;
    
}

.tech-info {
    color: #fff;
    text-align: center;
    margin: 0 2.4rem;
}

.tech-name-section{
    margin-top: 2.6rem;
}

.terminology-label {
    color: #D0D6F9;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.2362rem;
}

h1 {
    font-size: 2.4rem;
    font-family: 'bellefair', serif;
    margin-top: .9rem;
    line-height: normal;
}

.tech-info p {
    color: #D0D6F9;
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-top: 1.6rem;
}